<!DOCTYPE html>
<html>
    <head>
        <title>Tutorial</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    </head>    
    <body>
        <h1 class="text-center mt-5">Object Detection</h1>
        <form class="p-3 text-center" action="/", method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="img_file">
            <select class="form-control" id="version">
                <option>0</option>
                <option>1</option>
                <option>2</option>
              </select>
            <input class="btn btn-primary mt-3" type="submit" value="Predict Image">
        </form>
        {% if prediction %}
            <p class="text-center">Image contains {{prediction}}</p>
        {% endif %}
    </body>
</html>